{% extends 'base.html.twig' %}

{% block title %}Espace propriétaire{% endblock %}

{% block body %}
<h1>Espace propriétaire</h1>

<ul>

	<li><a href="{{ path('welcome') }}">Retour à l'accueil</a></li>
    
</ul>

{% endblock %} {# body #}