{% extends 'base.html.twig' %}

{% block title %}Espace propriétaire{% endblock %}

{% block body %}
<h1>Espace propriétaire</h1>

<ul>
	{% for reg in region %}
	<li><h3><a href="{{ path('frontoffice_owner_rooms', {"id":reg.id}) }}">{{ reg.name }}</a></h3></li>
	{{ reg.presentation }}
	{% endfor %}
</ul>

<ul>

	<li><a href="{{ path('welcome') }}">Retour à l'accueil</a></li>
    
</ul>

{% endblock %} {# body #}